.container {
    padding: 0;
}

.container-fluid {
    height: 93vh;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 7vh;
}

.marginL {
    margin-left: auto;
}

.btn-group {
    position: absolute;
    bottom: -4px;
    right:0;
}
.btn-secondary{
    border-left:1px solid black; 
}
.nav-link {
    display: block;
    padding: 1.25vh 12px!important;
    color:#DF8024!important;
}
.nav-link:hover {
    color:white!important;
}
.nav-linkLast{
    padding-right: 0!important;
}
.navbarH {
    padding: 0;
    height: 7vh;
    background-color: rgba(0, 0, 0, 1);
}

.navbar-brand {
    padding: 1.25vh 3vw 1.25vh 0;
    margin: 0;
}

.navbar-brand>img {
    height: 4.5vh;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90vw;
    }
}