.modal-content>p {
    font-size: 16px;
    line-height: 20px;
    margin: 15px 0;
    text-align: justify;
    letter-spacing: 1px;
}

.info {
    margin-bottom: 15px;
}

.btn:focus {
    border-color: #2e6da4;
    background-color: #337ab7;
}

.btn_mov:focus {
    outline: none;
    background-color: #DF8024 !important;
    border: none;
}

.fas {
    width: 36px;
    height: 36px;
    padding:6px 0;
    color: white;
}

.modal-content {
    border-radius: 20px;
    background-color: #333;
}

.modal-header {
    width: 90%;
    margin: 0 auto;
    font-size: 24px;
    padding-top: 60px;
    border-bottom: 2px solid #e5e5e5;
}

.modal-title {
    color: #DF8024;
    font-weight: bold;
}

.modal-dialog {
    width: 70vw;
}

.modal-body {
    width: 90%;
    margin: 0 auto;
}

.body_top {
    padding-bottom: 45px;
}

.modal-footer {
    border: none;
    background-color: #DF8024;
    border-radius: 0 0 20px 20px;
    display: flex;
    justify-content: center;
}

.btn_mov {
    background-color: #DF8024;
    width: 100%;
    font-size: 24px;
    color: white;
    border: none;
    display: flex;
}

.btn_mov_text {
    float: left;
}

.btn_mov:hover {
    background-color: #DF8024 !important;
}

.btn_mov:active {
    background-color: #DF8024 !important;
    border: none;
}

.movie {
    height: 90vh;
    ;
    width: 90vw;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem;
    pointer-events:auto;
}

.movie>iframe {
    width: 100%;
    height: 100%;
}

.btn.focus,
.btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 70vw;
        margin: 1.75rem auto;
    }
}