body {
    font-family: 微軟正黑體, "Microsoft JhengHei";

  }

  .dropdown-item {
    display: block;
  }

  .clear {
    clear: both;
  }

  .title {
    margin: 30px 0;
  }

  h4 {
    letter-spacing: 2px;
  }

  .container_ {
    width: 80%;
    margin: 0 auto;
  }

  .fas {
    float: left;
    padding: 3px 0;
    margin-right: 10px;
  }

  .title>h4 {
    float: left;
    margin: 0;
  }

  .room {
    float: left;
    width: 33%;
  }

  .room>h4 {
    margin: 20px 0;
  }

  .time {
    width: 90%;
  }

  .time>label {
    padding: 10px 1%;
    margin: 0;
    margin-right: 1%;
    float: left;
    width: 32%;
    text-align: center;
    background-color: #EFEFEF;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
  }

  .modal {
    top: 5%;
    /* 向上的距離*/
    outline: none;
  }

  .menu {
    display: none;
  }

  .menu.active {
    display: block;
  }

  .modal-content {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 20px !important;
  }