@media only screen and (max-width: 1024px) {
    .gallery-thumbs .swiper-slide {
        width: 14vw;
        height: 100%;
        opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-active {
        opacity: 1;
    }
    .gTop{
        height: 63vh;
    }
    .gDown{
        padding-top: 5vh;
    }
    .tip{
        left: -215px;
        transform: scale(0.8);
    }
    .mainInfo{
        text-align: left;
    }
    .mainIntroduction{
        display: none;
    }
    .btn-group{
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 630px) {
    .navbar{
        display: none;
    }
    .gDown{
        display: none;
    }
    .gTop{
        height: 100%;
    }
    .gTopColor{
        display: none;
    }
    .container-fluid{
        display: flex;
        flex-direction: column;
        height: 80vh;
    }
    .swTop{
        display: flex;
        flex-direction: column;
    }
    .swImg{
        height: 40vh;
    }
    .cover{
        width: 90vw;
    }
    .tip{
    }

}