body {
    background-color: black;
    font-family: Arial, "文泉驛正黑", "WenQuanYi Zen Hei", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
    letter-spacing: 2px;
    color: white;
}

h1 {
    font-size: 40px;
    color: #DF8024;
}

p {
    margin: 0;
}

.title2 {
    font-size: 18px;
    margin-top: 25px;
    font-weight: bold;
}

.swiper-container {
    background-color: black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.gallery-thumbs .swiper-slide {
    width: 10vw;
    height: 100%;
    opacity: 0.4;
}

.TopSlL {
    display: none;
}

.TopSlR {
    display: none;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

.swImg {
    height: 100%;
    position: absolute;
    right: 0%;
}

.swImgD {
    width: 80%;
    position: relative;
    z-index: 1;
}

.swShadowD {
    width: 80%;
    opacity: 0.5;
    position: absolute;
    left: 10px;
    top: -10px;
}

.gTop {
    height: 65vh;
    overflow: hidden;
}

.swTop {
    height: 100%;
}

.gTopColor {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, black 50%, rgba(0, 0, 0, 0) 70%);
    position: absolute;
    z-index: 2;
}

.gDown {
    height: 28vh;
    width: 90vw;
    padding-top: 3vh;
}

.Ename {
    color: #DF8024;
    margin-bottom: 18px;
}

.timeText {
    color: #888;
    margin-bottom: 18px;
}

.cover {
    position: absolute;
    bottom: 55px;
    left: 5vw;
    width: 40vw;
    height: 80%;
    text-align: justify;
    z-index: 3;
}

.main {
    width: 100%;
    height: calc(100% - 50px);
    overflow: hidden;
}

.box {
    background-color: #DF8024;
    width: 5vw;
}

.boxSek {
    background-color: #DF8024;
    width: 10vw;
    transform: skew(45deg, 0) translateX(-5vw);
}

.tip {
    width: 100vw;
    height: 55px;
    line-height: 55px;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    display: flex;
}

.nowplay {
    background-color: #DF8024;
    height: 55px;
    z-index: 1;
}

.tipContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 99;
}

.iconCollect {
    display: none;
}

.container {
    padding: 0;
}

.container-fluid {
    height: 93vh;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: 7vh;
}

.btn-group {
    position: absolute;
    bottom: 0;
    right: 0;
}

.btn-secondary {
    border-left: 1px solid black;
}

.TellMe {
    position: relative;
    top: 50vh;
    left: 25.4vw;
    height: 8vh;
    width: 20vw;
}

.TellMe>p {
    position: absolute;
    bottom: 40px;
}

.TellMe>input {
    position: absolute;
    bottom: 0;
    left: 0;
}

.TellMe_sent {
    position: absolute;
    bottom: 0;
    left: 199px;
    text-align: center;
    line-height: 30px;
    color: black;
    height: 30px;
    width: 50px;
}

.TellMe_sent:hover {
    text-decoration: none;
    color: black;
}

@media (min-width: 1200px) {
    .container {
        max-width: 90vw;
    }
}